Pint
python-dateutil
Pillow
exif
matplotlib
scikit-learn
numpy
pandas
geopandas
movingpandas
Shapely
folium
utm
rasterio
stonesoup
fsspec
tqdm
gdal
./packages/Metashape-2.0.1-cp37.cp38.cp39.cp310.cp311-none-win_amd64.whl